@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Common css */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

/* menu bar css */

nav {
	display: flex;
	background-color: #1c2833;
	height: 80px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0px 50px 0px 80px;
}

.logo {
	font-size: 25px;
	font-weight: bold;
	color: white;
}

nav ul {
	display: flex;
}

nav ul li {
	list-style-type: none;
	margin: 0 8px;
}
nav ul li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	color: white;
	padding: 7px 13px;
	border-radius: 3px;
	transition: 0.5s;
	text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.active {
	background-color: #2267a8;
}

.menu-btn{
    display: none;
    font-size: 22px;
    color:#fff;
    cursor: pointer;
}

#click{
    display: none
}

/* header section code start */

header{
    background-image: url('images/banner.jpg');
    height:90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Service section */

#first-section{
    background-color: #16213E;
    padding-bottom: 100px;
}

.service-title{
    text-align: center;
    color: rgb(145, 145, 15);
    font-size: 35px;
    letter-spacing: 0.2em;
    padding: 50px 0;
    /* margin-bottom: 30px; */
}

#service-parent{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    grid-gap: 25px;
}



.single-service{
    background-color: white;
    text-align: center;
    color: black;
    padding: 30px 20px;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 5px 5px 10px grey;
}
.single-service i{
    font-size: 40px;
}
.single-service h2{
    margin: 10px 0;
    font-weight: bold;
}



/* responsive work  */

/* For nav bar */

@media only screen and (max-width: 940px) {

    .menu-btn{
        display: block;
    }
	nav ul {
		position: fixed;
        left:-100%;
        top: 80px;
		height: 100vh;
		width: 100%;
		padding-top: 20px;
		background-color: #1c2833;
		flex-direction: column;
		text-align: center;
        transition: all 0.5s ease;
	}

	nav ul li {
		margin: 40px 0;
	}

	nav ul li a{
        font-size: 22px;
   }
   nav ul li a:hover, nav ul li a.active{
        background: none;
        color: rgb(179, 108, 108);
   }

   #click:checked ~ ul{
    left: 0%;
}

#click:checked ~ .menu-btn i::before{
    content: "\f00d";
    color: #2267a8;
    font-size: 28px;
}


}

/* service part responsive */
@media only screen and (max-width: 688px) {
    /* service section code start */
    #service-parent{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         grid-gap: 10px;
         width: 100%;
    }
}

@media only screen and (min-width: 689px) and (max-width: 1099px) {
    /* service section code start */
    #service-parent{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-gap: 20px;
         width: 100%;
    }
    /* service section code finished */

    /* smart area code start */
    /* #smart-parent{
         margin-left: 70px;
         margin-right: 70px;
         display: block;
    }
    .smart-image img{
         width: 100%;
         margin-bottom: 70px;
    } */



    
}